{% extends 'base.html.twig' %}

{% block title %}Inscription {% endblock %}

{% block body %}
    {{ form_start(form, {'attr':{'class': 'max-w-sm mx-auto'} } ) }}
    <div class="mb-5">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.password.first) }}
        {{ form_widget(form.password.first) }}
    </div>
    <div class="mb-5">
        {{ form_label(form.password.second) }}
        {{ form_widget(form.password.second) }}
    </div>
    
    {{ form_rest(form) }}
    {{ form_end(form) }}
    
    {% include "_toast.html.twig" %}
{% endblock %}
